<app-header></app-header>

<div class="container mt-2">
  <div class="row justify-content-between">
    <div class="col-9">
      <p-button
        [label]="'Add'"
        [raised]="true"
        (onClick)="onAddNewEntry()"
      ></p-button>
    </div>
    <div class="col-3"></div>
  </div>
</div>

<div class="container mt-5">
  <ul class="item-list">
    @for (entry of entryList; track $index) {
    <li class="item">
      <div class="item-icon">{{ getAvatarName(entry.entry_name) }}</div>
      <div class="item-details">
        <p class="item-title">{{ entry.entry_name }}</p>
        <p class="item-subtitle">{{ entry.url }}</p>
      </div>
      <div>
        <p-button
          [outlined]="true"
          icon="pi pi-eye"
          (onClick)="onEditEntry(entry.entry_id)"
        />
        <p-button
          [outlined]="true"
          icon="pi pi-share-alt"
          (onClick)="onShareEntry()"
        />
        <p-button
          [outlined]="true"
          icon="pi pi-trash"
          (onClick)="onDeleteEntry(entry.entry_id)"
        />
      </div>
    </li>
    }
    <!-- Additional items can be added here in similar structure -->
  </ul>
</div>

<!-- @if(editEntryId){ -->
<p-sidebar [(visible)]="sidebarVisible" position="right" (onHide)="onClosingSidenav()">
  <app-edit-entry
    [editEntryId]="editEntryId"
    (onEntryUpdated)="onEntryUpdated($event)"
    [showCopyAction]="showCopyAction"
    [sidebarVisible] = "sidebarVisible"
  ></app-edit-entry>
</p-sidebar>
<!-- } -->

<p-toast />
<p-confirmDialog />
