.container-fluid {
    align-items: center;
    display: flex;
    margin-top: 2rem;
  }
  
.action_btn{
    margin-right: 2px;
}


.form_error {
    color: red;
    font-size: smaller;
    margin-top: 2px;
  }
  