.container-fluid {
  align-items: center;
  display: flex;
  justify-content: center;
}

.form_card_container {
  margin-top: 1rem;
  width: 30rem;
}

.input_field {
  width: inherit;
  border: rgb(175, 175, 175) 1px solid;
}

.form_header {
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}

.input_section {
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}

.serverError {
  text-align: center;
  margin-bottom: 1rem;
  color: red;
}

.form_error {
  color: red;
  font-size: smaller;
  margin-top: 2px;
}
