<div class="side-nav-header">
  <img src="../../../assets/vault.png" alt="Logo" class="logo" />
  <h1 class="app-name">{{ username }}</h1>
</div>

<p-panelMenu [model]="navigationList"> </p-panelMenu>

<div class="row align-items-end">
  <p-button
    icon="pi pi-sign-out"
    [rounded]="true"
    [raised]="true"
    severity="secondary"
    (onClick)="onLogout()"
  />
</div>

<!-- <p-sidebar
  [(visible)]="sidebarVisible"
  (onHide)="onClose()"
  [showCloseIcon]="false"
>
  <ng-template pTemplate="header">
    <div class="side-nav-header">
      <img src="../../../assets/vault.png" alt="Logo" class="logo" />
      <h1 class="app-name">{{ username }}</h1>
    </div>
  </ng-template>

  <nav class="size-navigation">
    <ul>
      @for (nav of navigationList; track $index) {
      <li>
        <a (click)="onNavigation(nav.link)" class="size-option">{{
          nav.title
        }}</a>
      </li>
      }
    </ul>
  </nav>

  <ng-template pTemplate="footer">
    <hr />
    <p-button
      icon="pi pi-sign-out"
      [rounded]="true"
      [raised]="true"
      severity="secondary"
      (onClick)="onLogout()"
    />
  </ng-template>
</p-sidebar> -->
