<div class="login-container">
  <p-card>
    <ng-template pTemplate="header">
      <p class="p-card-header">LOGIN</p>
    </ng-template>
    <div class="p-card-content">
      @if(loginError){
      <div class="serverError">
        <span>{{ loginError }}</span>
      </div>
      }
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input_section">
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Email" formControlName="email" />
          </p-inputGroup>

          @if (submitted && f['email'].errors ) {
          <div class="invalid-feedback">
            @if (f['email'].errors['required']) { Email is required } @if
            (f['email'].errors['email']) { Email is invalid }
          </div>
          }
        </div>

        <div>
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-key"></i>
            </p-inputGroupAddon>
            <input
              pInputText
              type="password"
              placeholder="Password"
              formControlName="password"
            />
          </p-inputGroup>
          @if (submitted && f['password'].errors ) {
          <div class="invalid-feedback">
            @if (f['password'].errors['required']) { Password is required }
          </div>
          }
        </div>
      </form>
    </div>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center button-container">
        @if(submitted){
        <app-loader [isLoading]="submitted"></app-loader>
        } @else {
        <p-button
          label="Login"
          icon="pi pi-check"
          (onClick)="onSubmit()"
          [disabled]="!loginForm.valid"
        ></p-button>
        }
      </div>
    </ng-template>
  </p-card>
</div>
