/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p-button {
  font-size: 0.8rem;
}

a {
  text-decoration: none !important;
}
.parent-container {
  max-height: calc(100vh - 4rem);
  height: 100%;
  position: relative;
  overflow-y: auto;
}

.primaryBtn {
  background-color: blue;
  color: white;
  border: 1px solid #3B82F6;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.primaryBtn:hover{
  background-color: white;
  color: blue;
}

.secondaryBtn {
  background-color: #f1f5f9;
  color: #475569;
  border: 1px solid #d5e6f7;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.secondaryBtn:hover{
  background-color: #475569;
  color: #f1f5f9;
}

.dangerBtn {
  color: #ffffff;
  background-color: #ef4444;
  border: 1px solid #ef4444;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.dangerBtn:hover{
  color: #ef4444;
  background-color: #ffffff;
}
